{% extends "base.html" %}
  {% block main %}
<form class="form-horizontal" method="POST">
  <div class="control-group">
    <label class="control-label" for="board_name">Board Name</label>
    <div class="controls">
      <input type="text" id="board_name" name="board_name" placeholder="Name">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Create</button>
    </div>
  </div>
</form>
  {% end %}
