{% extends "base.html.j2" %}
  {% block main %}
      <table class="table" style="width:50%">
      {% for user in users %}
        <tr><td>{{ user[0] }}</td><td>{{ user[1] }}</td><td>{{ user[2] }}</td></tr>
      {% end %}
      </table>
  {% end %}
